*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo{
    background: #b3b1b1;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}
h1{
    text-align: center;
    color: white;
}


.calculadora{
    margin: 0 auto;
}

.display{
    width: 100%;
    font-size: 2.5em;
    text-align: right;
}

.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background: #cccccc;
}

.btn:hover{
    background: #868484 ;
}